[Desktop Entry]
Type=Application
Name=Screensaver (GNOME Flashback)
Comment=Launch screensaver and locker program
Icon[cs]=preferences-desktop-screensaver
Icon[de]=preferences-desktop-screensaver
Icon[el]=preferences-desktop-screensaver
Icon[hu]=preferences-desktop-screensaver
Icon[pl]=preferences-desktop-screensaver
Icon[pt]=preferences-desktop-screensaver
Icon[pt_BR]=preferences-desktop-screensaver
Icon[ru]=preferences-desktop-screensaver
Icon=preferences-desktop-screensaver
Exec=gnome-screensaver
TryExec=gnome-screensaver
OnlyShowIn=GNOME-Flashback;
NoDisplay=true
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-screensaver
X-GNOME-Bugzilla-Component=general
X-Ubuntu-Gettext-Domain=gnome-flashback
