[Desktop Entry]
Type=Application
Name=Indicator Keyboard
Exec=/usr/lib/aarch64-linux-gnu/indicator-keyboard/indicator-keyboard-service
OnlyShowIn=Unity;
NoDisplay=true
StartupNotify=false
Terminal=false
Hidden=true
X-Ubuntu-Gettext-Domain=indicator-keyboard
