[Desktop Entry]
Type=Application
Name=Indicator Messages
Exec=/usr/lib/aarch64-linux-gnu/indicator-messages/indicator-messages-service
StartupNotify=false
Terminal=false
OnlyShowIn=Unity;
Hidden=true
X-Ubuntu-Gettext-Domain=indicator-messages
