[Desktop Entry]
Type=Application
Name=Indicator Sound
Exec=/usr/lib/aarch64-linux-gnu/indicator-sound/indicator-sound-service
OnlyShowIn=Unity;Pantheon;
NoDisplay=true
StartupNotify=false
Terminal=false
Hidden=true
X-Ubuntu-Gettext-Domain=indicator-sound
